#macros:
#S: system
#SS: subsystem
#D:  device
#CH_NAME: channel name
#CH: channel number 0-5
#PORT: asyn port for the crate
#ISET_MAX: maximum ISet value

record(seq, "$(S):$(SS):$(D):CH$(CH):Update") {
  field(DESC, "Update Trigger")
  field(DOL1, "1")
  field(LNK1, "$(S):$(SS):$(D):$(CH_NAME):VMon.PROC")
  field(DOL2, "1")
  field(LNK2, "$(S):$(SS):$(D):$(CH_NAME):IMon.PROC")
  field(DOL3, "1")
  field(LNK3, "$(S):$(SS):$(D):$(CH_NAME):Status.PROC")  
  field(DOL4, "1")
  field(LNK4, "$(S):$(SS):$(D):$(CH_NAME):ISet:RBV.PROC")
  
}

record(longout, "$(S):$(SS):$(D):CH$(CH)Trigger") {
  field(VAL, "1")
  field(OUT, "$(S):$(SS):$(D):CH$(CH):Update.PROC PP")  
}
record(ai, "$(S):$(SS):$(D):$(CH_NAME):VMon") {
  field(DESC, "Monitor Voltage")
  field(DTYP, "stream")
  field(INP,  "@nim8304.proto readai($(CH),VMON) $(PORT)")
  field(PREC, "2")
  field(EGU, "V")
  field(SDIS, "$(S):$(SS):$(D):Disable")
}

record(ai, "$(S):$(SS):$(D):$(CH_NAME):IMon") {
  field(DESC, "Monitor Current")
  field(DTYP, "stream")
  field (INP,  "@nim8304.proto readai($(CH),IMON) $(PORT)")
  field(PREC, "2")
  field(EGU, "V")
  field(SDIS, "$(S):$(SS):$(D):Disable")
}


record(ai, "$(S):$(SS):$(D):$(CH_NAME):ISet:RBV") {
  field(DESC, "Current Limit")
  field(DTYP, "stream")
  field(INP,  "@nim8304.proto readai($(CH),ISET) $(PORT)")
  field(PREC, "2")
  field(EGU, "A")
  field(PINI, "YES")
  field(HOPR, "$(ISET_MAX)")
  field(LOPR, "0")
  field(SDIS, "$(S):$(SS):$(D):Disable")
}

record(ao, "$(S):$(SS):$(D):$(CH_NAME):ISet") {
  field(DESC, "Set Current limit")
  field(DTYP, "stream")
  field(FLNK, "$(S):$(SS):$(D):$(CH_NAME):ISet:RBV")
  field(OUT, "@nim8304.proto writeao($(CH),ISET) $(PORT)")
  field(PREC, "2")
  field(EGU, "A")
  field(DRVH, "$(ISET_MAX)")
  field(DRVL, "0")
  field(PINI, "NO")
  field(HOPR, "$(ISET_MAX)")
  field(LOPR, "0")
}

record(stringin, "$(S):$(SS):$(D):$(CH_NAME):Name") {
  field(DESC, "Channel name")
  field(DTYP, "stream")
  field(INP, "@nim8304.proto readstring($(CH),NAME) $(PORT)")
   field(PINI, "YES")
}

record(mbbiDirect, "$(S):$(SS):$(D):$(CH_NAME):Status") {
  field(DESC, "All Status")
  field(DTYP, "stream")
  field(INP, "@nim8304.proto readint($(CH),STAT) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):Disable")
}

record(bi, "$(S):$(SS):$(D):$(CH_NAME):OnOffStatus") {
  field(DESC, "Channel's On/Off status")
  field(INP, "$(S):$(SS):$(D):$(CH_NAME):Status.B0 CP")
  field(ONAM, "ON")
  field(ZNAM, "OFF")
}


record(bi, "$(S):$(SS):$(D):$(CH_NAME):OverCurrent") {
  field(DESC, "Provided current is higher than ISet")
  field(INP, "$(S):$(SS):$(D):$(CH_NAME):Status.B1 CP")
  field(ONAM, "Bad")
  field(ZNAM, "OK")
  field(OSV, "MAJOR")
}


record(bi, "$(S):$(SS):$(D):$(CH_NAME):OverVoltage") {
  field(DESC, "VMON is higher than Vnominal+10%")
  field(INP, "$(S):$(SS):$(D):$(CH_NAME):Status.B2 CP")
  field(ONAM, "Bad")
  field(ZNAM, "OK")
   field(OSV, "MAJOR")
}

record(bi, "$(S):$(SS):$(D):$(CH_NAME):UnderVoltage") {
  field(DESC, "VMON is lower than Vnominal-10%")
  field(INP, "$(S):$(SS):$(D):$(CH_NAME):Status.B3 CP")
  field(ONAM, "Bad")
  field(ZNAM, "OK")
   field(OSV, "MAJOR")
}

record(bi, "$(S):$(SS):$(D):$(CH_NAME):CalibrationError") {
  field(DESC, "Error on coefficient of calibration")
  field(INP, "$(S):$(SS):$(D):$(CH_NAME):Status:RBV.B8 CP")
  field(ONAM, "Bad")
  field(ZNAM, "OK")
  field(OSV, "MINOR")
}

record(calc,"$(S):$(SS):$(D):$(CH_NAME):SumAlarm"){
	field(DESC, "Summary Alarm Status of the Channel")
	field(SCAN, "1 second")
	field(CALC, "A||B||C||D")
	field(INPA, "$(S):$(SS):$(D):$(CH_NAME):CalibrationError MSS")
	field(INPB, "$(S):$(SS):$(D):$(CH_NAME):UnderVoltage MSS")
	field(INPC, "$(S):$(SS):$(D):$(CH_NAME):OverVoltage MSS")
	field(INPD, "$(S):$(SS):$(D):$(CH_NAME):OverCurrent MSS")
}



