#macros:
#S: system
#SS: subsystem
#D:  device
#ADDR: Board Address
#CH: channel number 0-3
#PORT: asyn port for the crate

record(seq, "$(S):$(SS):$(D):BD$(ADDR):Update") {
  field(DESC, "Update Board Params")
  field(DOL1, "1")
  field(LNK1, "$(S):$(SS):$(D):BD$(ADDR):BDName.PROC")
  field(DOL2, "1")
  field(LNK2, "$(S):$(SS):$(D):BD$(ADDR):ChNum.PROC")
  field(DOL3, "1")
  field(LNK3, "$(S):$(SS):$(D):BD$(ADDR):FWRelease.PROC")
  field(DOL4, "1")
  field(LNK4, "$(S):$(SS):$(D):BD$(ADDR):SerialNum.PROC")
  field(DOL5, "1")
  field(LNK5, "$(S):$(SS):$(D):BD$(ADDR):Intlock.PROC")
  field(DOL6, "1")
  field(LNK6, "$(S):$(SS):$(D):BD$(ADDR):BDAlarm.PROC")
  field(SCAN, "10 second")
  field(PINI, "YES")
}

record(seq, "$(S):$(SS):$(D):BD$(ADDR):UpdateChannel") {
  field(DESC, "Update Channel Params")
  field(DOL1, "1")
  field(LNK1, "$(S):$(SS):$(D):BD$(ADDR):Ch0Trigger.PROC")
  field(DOL2, "1")
  field(LNK2, "$(S):$(SS):$(D):BD$(ADDR):Ch1Trigger.PROC")
  field(DOL3, "1")
  field(LNK3, "$(S):$(SS):$(D):BD$(ADDR):Ch2Trigger.PROC")
  field(DOL4, "1")
  field(LNK4, "$(S):$(SS):$(D):BD$(ADDR):Ch3Trigger.PROC")
  field(SCAN, "1 second")
  field(PINI, "YES")
}

# Channel Trigger PVs
record(longout, "$(S):$(SS):$(D):BD$(ADDR):Ch0Trigger") {
  field(VAL, "0")
  field(PINI, "YES")  
}
record(longout, "$(S):$(SS):$(D):BD$(ADDR):Ch1Trigger") {
  field(VAL, "0")
  field(PINI, "YES")  
}
record(longout, "$(S):$(SS):$(D):BD$(ADDR):Ch2Trigger") {
  field(VAL, "0")
  field(PINI, "YES")  
}
record(longout, "$(S):$(SS):$(D):BD$(ADDR):Ch3Trigger") {
  field(VAL, "0")
  field(PINI, "YES")  
}

record(bo, "$(S):$(SS):$(D):BD$(ADDR):Disable") {
  field(DESC, "Disable comms")
  field(PINI, "YES")
  field(VAL, "0")
  field(OMSL, "supervisory")
  field(ZNAM, "Enabled")
  field(ONAM, "Disabled")
}

record(stringin, "$(S):$(SS):$(D):BD$(ADDR):BDName") {
  field(DESC, "BoardName")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readstring($(ADDR),BDNAME,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
  field(PINI, "YES")
}

record(stringin, "$(S):$(SS):$(D):BD$(ADDR):ChNum") {
  field(DESC, "Board Number of Channels")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readstring($(ADDR),BDNCH,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
    field(PINI, "YES")

}


record(stringin, "$(S):$(SS):$(D):BD$(ADDR):FWRelease") {
  field(DESC, "Board Firmware release")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readstring($(ADDR),BDFREL,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
}

record(stringin, "$(S):$(SS):$(D):BD$(ADDR):SerialNum") {
  field(DESC, "Board Serial number")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readstring($(ADDR),BDSNUM,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
}

record(stringin, "$(S):$(SS):$(D):BD$(ADDR):Intlock") {
  field(DESC, "Board Interlock")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readstring($(ADDR),BDILK,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
}

record(mbbiDirect, "$(S):$(SS):$(D):BD$(ADDR):BDAlarm") {
  field(DESC, "Board Alarm Status")
  field(DTYP, "stream")
  field(INP, "@n1471.proto readint($(ADDR),BDALARM,$(S):$(SS):$(D):BD$(ADDR)) $(PORT)")
  field(SDIS, "$(S):$(SS):$(D):BD$(ADDR):Disable")
}

